# requirements.txt (mínimo para FastAPI + SQLAlchemy + MySQL en Render)
fastapi
uvicorn[standard]
python-multipart
pydantic>=2
SQLAlchemy
PyMySQL
python-jose[cryptography]
passlib>=1.7.4
bcrypt==4.3.0